<?xml version='1.0' encoding='utf-8'?>
<widget id="com.limetuna.app" version="2.0.11" android-versionCode="20011" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gulfhit 2.0.11</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <platform name="android">
        <preference name="android-debuggable" value="true" />
        <hook type="after_prepare" src="hooks/after_prepare/010-copy-build-extras.js" />
    </platform>
    <content src="intro.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
